/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-image: url(https://s3.amazonaws.com/kudoboard-assets/templates/29342/backgrounds/lowres/K3ofOjzK.jpg);

  font-family: Helvetica, Arial, sans-serif;
}

h1, h2, p, .box {
  background-color: rgba(255, 255, 255, .95);
  padding: 20px 10px;
  border-radius: 10px;

  width: 300px;
  text-align: center;
  margin: 20px auto;
}

.prizes, .choices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  padding: 0;
  list-style: none;
}

.prizes li {
  flex-basis: 20%;

  font-size: 2em;
  padding: 20px 0;
  text-align: center;
}

.prizes li a {
  color: #000;
  text-decoration: none;
}

.prizes li a:hover {
  background-color: #ddd;
}

.prizes li a,
.prizes li .fake-link {
  border-radius: 10px;
  background-color: white;

  height: 90%;
  width: 90%;
  display: inline-block;

  line-height: 3em;
}

.choices {
  width: 50%;
  margin: 0 auto;
}

.choices li button, .reveal-all button {
  background-color: #000;
  color: #eee;
  border: 2px solid #eee;
  border-radius: 10px;

  padding: 10px 20px;
  font-size: 4em;
}

.choices li button:hover {
  color: #fff;
  cursor: pointer;
}

.prizes li.chosen span,
.reveal-all button,
.choices li.choose button {
  background-color: rgb(13, 176, 13);
}

.reveal-all button {
  margin-bottom: 20px;
  font-size: 2em;
}

.prizes li.rejected span,
.choices li.reject button {
  background-color: rgb(183, 16, 16);
}

.prizes li.rejected span, .prizes li.chosen span {
  color: #fff;
}
